@model StudentMVC.Models.Student
@{
    ViewData["Title"] = "Create Student";
}

<h2>Enter Student Details</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="StdID"></label>
        <input asp-for="StdID" class="form-control" />
        <span asp-validation-for="StdID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Faculty"></label>
        <input asp-for="Faculty" class="form-control" />
        <span asp-validation-for="Faculty" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
